<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webmets</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="../static/css/index.css" rel="stylesheet" />
    <script src="../static/js/core/jquery.3.2.1.min.js"></script>
    <script id="swc" type='text/plain'>
    # ORIGINAL_SOURCE NeuronStudio 0.8.80
    # CREATURE
    # REGION
    # FIELD/LAYER
    # TYPE
    # CONTRIBUTOR
    # REFERENCE
    # RAW
    # EXTRAS
    # SOMA_AREA
    # SHINKAGE_CORRECTION 1.0 1.0 1.0
    # VERSION_NUMBER 1.0
    # VERSION_DATE 2007-07-24
    # SCALE 1.0 1.0 1.0
    1 1 14.566132 34.873772 7.857000 0.717830 -1
    2 0 16.022520 33.760513 7.047000 0.463378 1
    3 5 17.542000 32.604973 6.885001 0.638007 2
    4 0 19.163984 32.022469 5.913000 0.602284 3
    5 0 20.448090 30.822802 4.860000 0.436025 4
    6 6 21.897903 28.881084 3.402000 0.471886 5
    7 0 18.461960 30.289471 8.586000 0.447463 3
    8 6 19.420759 28.730757 9.558000 0.496217 7
    </script>
    <script id="swc2" type='text/plain'>
    # ORIGINAL_SOURCE NeuronStudio 0.8.80
    # CREATURE
    # REGION
    # FIELD/LAYER
    # TYPE
    # CONTRIBUTOR
    # REFERENCE
    # RAW
    # EXTRAS
    # SOMA_AREA
    # SHINKAGE_CORRECTION 1.0 1.0 1.0
    # VERSION_NUMBER 1.0
    # VERSION_DATE 2007-07-24
    # SCALE 1.0 1.0 1.0
    1 1 24.566132 34.873772 7.857000 0.717830 -1
    2 0 26.022520 33.760513 7.047000 0.463378 1
    3 5 27.542000 32.604973 6.885001 0.638007 2
    4 0 29.163984 32.022469 5.913000 0.602284 3
    5 0 30.448090 30.822802 4.860000 0.436025 4
    6 6 31.897903 28.881084 3.402000 0.471886 5
    7 0 28.461960 30.289471 8.586000 0.447463 3
    8 6 29.420759 28.730757 9.558000 0.496217 7
    </script>
    <script id='metadata_swc' type='text/plain'>
      [
        {"label":"undefined","type":0},
        {"label":"soma","type":1},
        {"label":"axon","type":2},
        {"label":"dendrite","type":3},
        {"label":"apical dendrite","type":4},
        {"label":"fork point","type":5},
        {"label":"end point","type":6},
        {"label":"custom","type":7}
      ]
    </script>
</head>
<body>
    <!-- 顶部div区域，存放横向导航栏 -->
    <div class="topMenu">
        <!-- 一级菜单 -->
        <ul>
            <li id="logo">
                <p>pymets</p>
            </li>
            <!-- 二级菜单:菜鸟教程 -->
            <li class="dropdown">
                <a href="http://www.runoob.com/">菜鸟教程</a>
                <ul class="dropdown-content">
                    <li>
                        <a href="http://www.runoob.com/html/html-tutorial.html">HTML教程</a>
                    </li>
                    <li>
                        <a href="http://www.runoob.com/css/css-tutorial.html">CSS教程</a>
                    </li>
                    <li>
                        <a href="http://www.runoob.com/html/html5-intro.html">HTML5教程</a>
                    </li>
                    <li>
                        <a href="http://www.runoob.com/css3/css3-tutorial.html">CSS3教程</a>
                    </li>
                </ul>
            </li>
            <!-- 二级菜单:indienova -->
            <li class="dropdown">
                <a href="https://indienova.com/">
                    indienova
                </a>
                <ul class="dropdown-content">
                    <li>
                        <a href="https://indienova.com/indie-game-news/">文章</a>
                    </li>
                    <li>
                        <a href="https://indienova.com/column/">专题</a>
                    </li>
                    <li>
                        <a href="https://indienova.com/indie-game-development/">开发</a>
                    </li>
                    <li>
                        <a href="https://indienova.com/usergames">游戏</a>
                    </li>
                </ul>
            </li>
            <!-- 二级菜单:哔哩哔哩动画 -->
            <li class="dropdown">
                <a href="https://www.bilibili.com/">
                    哔哩哔哩动画
                </a>
                <ul class="dropdown-content">
                    <li>
                        <a href="https://www.bilibili.com/v/douga/?spm_id_from=333.334.b_7072696d6172795f6d656e75.2">动画</a>
                    </li>
                    <li>
                        <a href="https://www.bilibili.com/anime/?spm_id_from=333.334.b_7072696d6172795f6d656e75.7">番剧</a>
                    </li>
                </ul>
            </li>
            <!-- 二级菜单:哔哩哔哩动画 -->
            <li class="dropdown">
                <a href="https://www.bilibili.com/">
                    哔哩哔哩动画
                </a>
                <ul class="dropdown-content">
                    <li>
                        <a href="https://www.bilibili.com/v/douga/?spm_id_from=333.334.b_7072696d6172795f6d656e75.2">动画</a>
                    </li>
                    <li>
                        <a href="https://www.bilibili.com/anime/?spm_id_from=333.334.b_7072696d6172795f6d656e75.7">番剧</a>
                    </li>
                </ul>
            </li>
            <!-- 右浮动的一级菜单选项:百度 -->
            <li class="upload">
                <ul>
                    <li>
                        <a id="mask_1">
                            GoldTree
                            <input type='file' name='swc_input' id='swc_input'/>
                        </a>
                    </li>
                    <li>
                        <a>
                            TestTree
                            <input type='file' name='test_input' id='test_input'/>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- 主要内容的div区域，存放网站页面的框架 -->
    <div class="mainContent">
        <div>
            <!-- three.js container -->
            <div id="container" style='position:relative;width:100%;height:700px'></div>
            <!-- info on screen display -->
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='3dtools/three.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='3dtools/shark_viewer.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='3dtools/index.js')}}"></script>
</body>
</html>